@model IEnumerable<RoleViewModel>

@{
    ViewData["Title"] = "Roles";
    Layout = "_LayoutAdmin";
}

<div class="header-page">

    <div class="row">
        <div class="col-md-6 justify-content-between">
            <h2><i class="fa-solid fa-shield-virus"></i> <span class="text-primary">@ViewData["Title"] Archive</span></h2>
        </div>
        <div class="col-md-6 text-end">
            <a asp-action="Index" asp-controller="Roles" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Add New</a>
            <a asp-action="Index" class="btn btn-secondary"><i class="fa-solid fa-angle-left"></i> Back to List</a>
        </div>
    </div>
    <hr />
</div>

<div class="content-page">


    <div class="alert alert-warning @(Model.Any() ? "d-none" : string.Empty)" role="alert">
        <i class="bi bi-exclamation-triangle"></i> No @ViewData["Title"] Archive Found!
    </div>

    <table class="table table-striped table-hover @(!Model.Any() ? "d-none" : string.Empty)">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeletedAt)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeletedAt)
                    </td>
                    <td>
                        <a asp-action="Restore" asp-route-id="@item.Id" class="btn btn-sm btn-success"><i class="fa-solid fa-trash-arrow-up"></i> Restore</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info"><i class="fa-solid fa-binoculars"></i> Details</a>
                        <a href="javascript:;" class="btn btn-sm btn-danger js-delete" data-id="@item.Id"><i class="fa-solid fa-trash"></i> Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('.js-delete').on('click', function () {
                var btn = $(this);

                bootbox.confirm({
                    message: 'Are you sure that you need to delete this role?',
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-secondary'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: '/admin/api/roles/delete/?id=' + btn.data('id'),
                                method: 'DELETE',
                                success: function () {
                                    if ($('tbody tr').length === 1)
                                        $('table').fadeOut(function () {
                                            this.remove();
                                            $('.alert').removeClass('d-none');
                                        });

                                    else
                                        btn.parents('tr').fadeOut(function () {
                                            this.remove();
                                        });

                                    toastr.success('Book deleted');

                                },
                                error: function () {
                                    toastr.error('Something went wrong!');
                                },
                            });
                        }
                    }
                });

            });
        });
    </script>
}
