@model UserRolesViewModel

@{
    ViewData["Title"] = "Users";
    Layout = "_LayoutAdmin";
}

<div class="header-page">

    <div class="row">
        <div class="col-md-6 justify-content-between">
            <h3><i class="fa-solid fa-user-gear"></i> <span class="text-primary">Manage User Roles</span></h3>
        </div>
        <div class="col-md-6 text-end">
        </div>
    </div>
    <hr />
</div>


<div class="content-page">
    <form asp-action="ManageRoles" method="post">
        <div class="card mt-4">
            <div class="card-header">
                <h2>@Model.UserName</h2>
            </div>
            <div class="card-body">
                <input type="hidden" asp-for="UserId" />
                @for (int i = 0; i < Model.Roles!.Count; i++)
                {
                    <div class="form-check m-1">
                        <input type="hidden" asp-for="@Model.Roles[i].DisplayValue" />
                        <input asp-for="@Model.Roles[i].IsSelected" class="form-check-input" />
                        <label class="form-check-label" asp-for="@Model.Roles[i].IsSelected">
                            @Model.Roles[i].DisplayValue
                        </label>
                    </div>
                }
                <span asp-validation-summary="All" class="text-danger"></span>
            </div>
            <div class="card-footer button-group">
                <button type="submit" class="btn btn-primary"><i class="fa-regular fa-floppy-disk"></i> Save</button>
                <a asp-action="Index" class="btn btn-outline-secondary"><i class="fa-solid fa-angle-left"></i> Back to List</a>
            </div>
        </div>
    </form>
</div>
